p
 {
  font-size: 27px;
}
p, h1, h2, marquee {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
li
{
    Font-size: 25px;
}
marquee {
  font-size: 55px;
}
h2
{
  font-size: 30px;
}
h1
{
  font-size: 40px;
}